<a href="https://colab.research.google.com/github/JuBertoldo/Senac_python/blob/GitHub-Pages/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = "João"
idade = 25
altura = 1.60

In [ ]:
print(f'Olá {nome}, sua idade é {idade} é sua altura {altura}')

Olá João, sua idade é 25 é sua altura 1.6

In [ ]:
nome, idade, altura = "João", 25, 1.60

In [ ]:
idade = 31
print(type(idade))

<class 'int'>

In [ ]:
x = int("42")
y = float("3.14")
z = str("42")
print(x,y,z)

42 3.14 42

In [ ]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
print(f"Olá, {nome}! Você tem {idade} anos.")

Digite seu nome: Juliana
Digite sua idade: 31
Olá, Juliana! Você tem 31 anos.

In [ ]:
numA = int(input("Informe um número"))
numB = int(input("Informe outro número"))

soma = numA + numB
print(f"O valor da soma é {soma}")

sub = numA-numB
print(f"O valor da subtração é {sub}")

mult = numA * numB
print(f"O valor da multiplicação é {mult}")

div = numA / numB
print(f"O valor da divisão é {div}")

Informe um número20
Informe outro número40
O valor da soma é 60
O valor da subtração é -20
O valor da multiplicação é 800
O valor da divisão é 0.5

In [ ]:
#Armazene o preço do produto e o percentual deste desconto em duas variaveis.
#Calcule e exiba o valor final do produto após o desconto sabendo que a formula para obter este valor é: Valor do Produto x (1-(Desconto / 100)).

preco_produto = float(input("Digite o preço do produto: "))
percentual_desconto = float(input("Digite o percentual de desconto: "))

valor_final = preco_produto * (1 - (percentual_desconto / 100))

print(f"O valor final do produto após o desconto é: {valor_final}")

Digite o preço do produto: 300
Digite o percentual de desconto: 15
O valor final do produto após o desconto é: 255.0